TreeMeshGen/__pycache__/
ez-tree/
.DS_Store
*.ply
*.obj
LidarSimulator/__pycache__/
*.pyc
/__pycache__/*
TreeMeshGen/tools/__pycache__/*
TreeMeshGen/presets/__pycache__/*
*.png
*.obj
*.pyc
*.las
*.laz
*.obj